<!-- Sidebar -->
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <a>
                       Backlink Watach
                   </a>
               </li>
               <li>
                   <a href="new_deal.php">Ajouter un deal</a>
               </li>
               <li>
                   <a href="add_backlink.php">Consulter / Modifier un deal</a>
               </li>
               <li>
                   <a href="add_backlink.php">Coup d'oeil</a>
               </li>

           </ul>
       </div>
       <!-- /#sidebar-wrapper -->
